@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply focus:ring-4 focus:outline-none focus:ring-blue-300
  font-medium
  rounded-lg
  text-sm
  sm:w-auto
  px-5
  py-2.5
  text-center;
}
.btn-primary {
  @apply text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 bg-blue-700
  hover:bg-blue-800;
}
.btn-success {
  @apply text-white dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 bg-green-700
  hover:bg-green-800;
}
.btn-error {
  @apply text-white dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800 bg-red-700
  hover:bg-red-800;
}
.checkbox {
  @apply w-4
  h-4
  text-blue-600
  bg-gray-100
  border-gray-300
  rounded
  cursor-pointer
  focus:ring-blue-500
  dark:focus:ring-blue-600
  dark:ring-offset-gray-800
  dark:focus:ring-offset-gray-800
  focus:ring-2
  dark:bg-gray-700 dark:border-gray-600;
}

.input-text {
  @apply block py-2.5 px-0 w-full text-center text-lg text-gray-900 bg-gray-100 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600;
}
