$top: var(--top);
$bottom: var(--bottom);
$left: var(--left);
$right: var(--right);
$icon-size: var(--iconSize);
$success: var(--successColor);
$warning: var(--warningColor);
$info: var(--infoColor);
$error: var(--errorColor);
$gray: var(--gray);
$toaster-max-width: var(--toasterMaxWidth);
$animation-duration: var(--animationDuration);
$toast-background-color: var(--toastBackgroundColor);
