$z-index: var(--zIndex);
$top: var(--top);
$bottom: var(--bottom);
$left: var(--left);
$right: var(--right);
$icon-size: (var(--iconSize));
$success: var(--successColor);
$warn: var(--warnColor);
$info: var(--infoColor);
$error: var(--errorColor);
$gray: var(--gray);
$toaster-max-width: var(--toasterMaxWidth);
$animation-duration: calc(var(--animationDuration) * 1ms);
$animation-function: var(--animationFunction);
$toast-background-color: var(--toastBackgroundColor);
$direction : var(--direction);
$translateX: var(--translateX);

$targetColor: var(--targetColor)