$icon-size: var(--icon-size);
$success: var(--success);
$warning: var(--warning);
$info: var(--info);
$error: var(--error);
$gray: var(--gray);
$toaster-max-width: var(--toaster-max-width);
$animation-duration: var(--animation-duration);
$toast-background-color: var(--toast-background-color);
