@import "./toater.scss";
$font-family: Source Sans Pro, system-ui, -apple-system, Segoe UI, roboto,
  ubuntu, cantarell, Noto Sans, sans-serif;
* {
  font-family: $font-family;
  box-sizing: border-box;
}