@use "./_variables.scss" as _vars;
.ts__toaster {
  color: _vars.$gray;
  margin-top: 8px;
  position: relative;
  background-color: _vars.$toast-background-color;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  .ts__ {
    &icon {
      margin: 6px 12px;
      width: _vars.$icon-size;
      height: _vars.$icon-size;
    }
    &text-gray {
      color: _vars.$gray;
    }
    &success {
      --targetColor: #{_vars.$success};
    }
    &warn {
      --targetColor: #{_vars.$warn};
    }
    &info {
      --targetColor: #{_vars.$info};
      color: _vars.$info;
    }
    &error {
      --targetColor: #{_vars.$error};
    }
  }
}
